# Useful Methods in Pandas

In [1]:
import pandas as pd
import numpy as np

In [2]:
s=pd.Series(np.arange(5.),
            index=["a","b","c","d","e"])
s

a    0.0
b    1.0
c    2.0
d    3.0
e    4.0
dtype: float64

In [3]:
new_s=s.drop("b")
new_s

a    0.0
c    2.0
d    3.0
e    4.0
dtype: float64

In [4]:
s.drop(["c","d"])

a    0.0
b    1.0
e    4.0
dtype: float64

In [5]:
data=pd.DataFrame(np.arange(16).reshape(4,4),
                  index=["Kate","Tim",
                         "Tom","Alex"],
                  columns=list("ABCD"))
data

       A   B   C   D
Kate   0   1   2   3
Tim    4   5   6   7
Tom    8   9  10  11
Alex  12  13  14  15

In [6]:
data.drop(["Kate","Tim"])

       A   B   C   D
Tom    8   9  10  11
Alex  12  13  14  15

In [7]:
data.drop("A",axis=1)

       B   C   D
Kate   1   2   3
Tim    5   6   7
Tom    9  10  11
Alex  13  14  15

In [8]:
data.drop("Kate",axis=0)

       A   B   C   D
Tim    4   5   6   7
Tom    8   9  10  11
Alex  12  13  14  15

In [9]:
data

       A   B   C   D
Kate   0   1   2   3
Tim    4   5   6   7
Tom    8   9  10  11
Alex  12  13  14  15

In [10]:
data.mean(axis="index")

A    6.0
B    7.0
C    8.0
D    9.0
dtype: float64

In [11]:
data.mean(axis="columns")

Kate     1.5
Tim      5.5
Tom      9.5
Alex    13.5
dtype: float64