# Arithmetic Operations in Pandas

### NaN is a specific undefined value for representing indeterminate numerical results and missing data points 
### null represents the intentional absence of any value or object.

In [3]:
import pandas as pd 
import numpy as np

## Applying a Function

In [17]:
df=pd.DataFrame(
    np.random.randn(4,3),
    columns=list("ABC"),
    index=["Kim","Susan","Tim","Tom"])
df

              A         B         C
Kim   -0.173717 -1.126917 -0.595042
Susan -0.641672 -0.073913 -1.828588
Tim   -0.389124 -1.786140  0.553646
Tom   -0.062436 -0.251933  0.872391

In [18]:
np.abs(df)

              A         B         C
Kim    0.173717  1.126917  0.595042
Susan  0.641672  0.073913  1.828588
Tim    0.389124  1.786140  0.553646
Tom    0.062436  0.251933  0.872391

In [19]:
f=lambda x:x.max()-x.min()

In [20]:
df.apply(f)

A    0.579236
B    1.712227
C    2.700979
dtype: float64

In [21]:
df.apply(f,axis=1)

Kim      0.953200
Susan    1.754676
Tim      2.339785
Tom      1.124324
dtype: float64

In [22]:
def f(x):
    return x**2

In [23]:
df.apply(f)

              A         B         C
Kim    0.030178  1.269942  0.354075
Susan  0.411743  0.005463  3.343735
Tim    0.151417  3.190294  0.306524
Tom    0.003898  0.063470  0.761066