# Summarizing & Computing Descriptive Statistics

In [1]:
import pandas as pd
import numpy as np

In [2]:
df=pd.DataFrame(
    [[2.4,np.nan],[6.3,-5.4],
     [np.nan,np.nan],[0.75,-1.3]],
    index=["a","b","c","d"],
    columns=["one","two"])
df

    one  two
a  2.40  NaN
b  6.30 -5.4
c   NaN  NaN
d  0.75 -1.3

In [3]:
df.sum()

one    9.45
two   -6.70
dtype: float64

In [4]:
df.sum(axis=1)

a    2.40
b    0.90
c    0.00
d   -0.55
dtype: float64

In [5]:
df.mean(axis=1)

a    2.400
b    0.450
c      NaN
d   -0.275
dtype: float64

In [6]:
df.mean(axis=1,skipna=False)

a      NaN
b    0.450
c      NaN
d   -0.275
dtype: float64

In [7]:
df.idxmax()

one    b
two    d
dtype: object

In [8]:
df.idxmin()

one    d
two    b
dtype: object

In [9]:
df.cumsum()

    one  two
a  2.40  NaN
b  8.70 -5.4
c   NaN  NaN
d  9.45 -6.7

In [10]:
df.describe()

         one       two
count  3.000  2.000000
mean   3.150 -3.350000
std    2.850  2.899138
min    0.750 -5.400000
25%    1.575 -4.375000
50%    2.400 -3.350000
75%    4.350 -2.325000
max    6.300 -1.300000

In [19]:
s=pd.Series(["b","b","b","b","c",
             "c","a","a","a"])
s

0    b
1    b
2    b
3    b
4    c
5    c
6    a
7    a
8    a
dtype: object

In [21]:
s.value_counts()

b    4
a    3
c    2
dtype: int64